@font-face {
    font-family: 'blue_highwaylinocut';
    src: url('fonts/blue_highway_linocut-webfont.eot');
    src: url('fonts/blue_highway_linocut-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blue_highway_linocut-webfont.woff2') format('woff2'),
         url('fonts/blue_highway_linocut-webfont.woff') format('woff'),
         url('fonts/blue_highway_linocut-webfont.ttf') format('truetype'),
         url('fonts/blue_highway_linocut-webfont.svg#blue_highwaylinocut') format('svg');
    font-weight: normal;
    font-style: normal;

}