$main-color: black;
$main-color2: black;
$main-font: 'blue_highwaylinocut';




/* BASE */ 

body {
	background-color: $main-color;
	  background-image: url("images/layout/background.jpg");
  	  background-repeat: none;
		background-size: contain;
}

h1, li, a, h1 a {
	font-family: $main-font;
	color: white;
	text-shadow: 3px 4px black;
}

h2, h2 a {
	font-family: $main-font !important;
	color: white !important;
	text-shadow: 1px 2px black;
	font-size: 1.4em !important;
}

h2 a:hover {
	font-family: $main-font !important;
	color: #F47503 !important;
	text-shadow: 1px 2px black;
	font-size: 1.4em !important;
}

h3 {
	font-family: $main-font;
	color: white;
	text-shadow: 2px 3px black;
}

h6 a {
	color: black !important;
	font-size:2.1em;
}

h6 a:hover {
	color: grey !important;
	font-size:2em;
}

ul {
	list-style: none;
	padding-left:0px;
	padding-right:16px;
}

nav ul li {
	display: inline;
}

li {
	font-size: 2.3em;
	margin-left: 20px;
}

nav {

}


img {
	border: 6px black solid;
}



/* unvisited link */
a:link {
	text-decoration: none;
	color:$main-color;
}

/* visited link */
a:visited {
	text-decoration: none;
	color:$main-color;
}

/* mouse over link */
a:hover {
	text-decoration:none;
	color: grey;
}

/* selected link */
a:active { 
	text-decoration: none;
	color:$main-color;
}


/* FOOTER LINK STYLES */

/* unvisited link */
.footer-style a:link {
	text-decoration: none;
	color: white;
	text-shadow: 3px 4px black;
}

/* visited link */
.footer-style a:visited {
	text-decoration: none;
	color: white;
}

/* mouse over link */
.footer-style a:hover {
	text-decoration:none;
	color: #F47503;
}

/* selected link */
.footer-style a:active { 
	text-decoration: none;
	color: white;
}


/* LAYOUT */ 
.align-center {
	margin: auto;
	text-align: center;
}

.footer-text {
	font-size: 2em;
}

.footer-size {
	font-size: 2em;
}

.white-background {
	background-color: $main-color2;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.main-text {
	font-family: $main-font;
	font-size: 1.8em;
	color: $main-color;
}

.main-text-services {
	font-family: $main-font;
	font-size: 2.4em !important;
	color: $main-color;
}

.main-nav-layout {
	border: 2px solid $main-color;	
	padding-top: 7px;
	width: 85%;
}


.main-nav-style a {
	font-size: 1em;
	color: white !important;
	text-shadow: 3px 4px black;
}

.main-nav-style a:hover {
	font-size: .9em;
	color: #F47503 !important;
}

.share-content-nav {
	color:$main-color;
	font-family:  $main-font;
}

.skill-layout {
	margin-left: 4px;
}

.fixed-nav {
	position: fixed;
	float: left;
	margin-top: 150px;
	
}

.skill-style {
	font-family: sans-serif;
	color: $main-color;
	font-size: 1.1em;
	list-style: square;
}

.black-text {
	color: $main-color;
}

.white-text a {
	color: $main-color;
}

.white-text {
	color: $main-color;
}

.quote-text {
	text-size: 5em !important;
}

.social-network-layout {
	float: left;
}

.floated-left {
	float: left;
}

.main-services p {
	color: black;
	font-size: 1.8em;
	
}

.services-header {
	font-size:3.5em;
}

.main-contact-style  {
	color: black !important;
	font-size: 1.2em;
}

.main-contact-style:hover  {
	color: grey !important;
	font-size: 1.1em;
}

.radio-listen h6 a {
	color: black !important;
	font-size:2.1em;
}

.radio-listen h6 a:hover {
	color: grey !important;
	font-size:2em;
}


.main-subpage-text {
	font-size: 4em;
}

#links-designs {
  margin-top: 20px;
  margin-left: 0px;
  padding-left: 25px;
  padding-top: 3px;
  width: 100%; }

.no-border {
	border: none !important;
}

.move {
	margin-left: 21px;
}

.review-box {
	background-color: white;
	box-shadow: 4px 5px black;
	padding-top:1px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 15px;
}

.black-text {
	color: black !important;
	text-shadow: none;
	font-family:monospace;
	font-size: 1.3em;
}


/* Mobile nav styles */
.mobile-nav {
  display: none; 
}






/* Video EMBed responsive code */

.responsive-vid {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; 
overflow: hidden;
}


.responsive-vid iframe,
.responsive-vid object,
.responsive-vid embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* END OF = Video EMBed responsive code */


/* MODULE */ 
/* STATE */ 
/* THEME */ 


/* FORM */
input,textarea {
	display:block;
	margin-bottom: 15px;
	width: 100%;
	border: black solid 3px;
	font-size:2em;
	color: $main-color;
	background-color: $main-color;
	font-family: $main-font;
}

label {
	margin-bottom: 0px;
	font-size: 1.5em;
	color: $main-color;
}

.error{
	color:$main-color;
}

form{
	width:100%;
}

.val-style {
	text-align: center;
}


/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 0px) and (max-width: 620px) {
	
	.footer-size {
		font-size: 1.5em;
	}
	
	
}